<% throw_content( :for_title, "Edit #{ self.class.Model.to_s }") %>

<div id="content">
  <h2>
    Edit: <%= scaf_title( @model ) %>
    <a href="<%= url( "scaffold_#{self.class.Model.singular_name}", @model ) %>">Cancel</a>
  </h2>

  <form action="<%= url( "scaffold_#{self.class.Model.singular_name}", @model.id ) %>" method="POST">
    <input type="hidden" name="_method" value="PUT" />
    <%= partial( 'form', :model => @model ) %>
    <input type="submit" value="Update" />
    <a href="<%= url( "scaffold_#{self.class.Model.singular_name}", @model ) %>">Cancel</a>
  </form>
</div>