<html>
  <head>
    <title>AutoScaffolds: <%= catch_content( :for_title ) %></title>
    <style type="text/css" media="screen">
    <%= IO.read(File.join(File.dirname(__FILE__), 'style.css')) %>
    </style>
  </head>
  <body>
    <div class="wrapper">
      <div id="header">
        <h1>
          AutoScaffold
          <% for m in ::MerbAutoScaffold::Models.all %>
            <a href="<%= url( m.plural_name ) %>">
              <%= m.plural_name.to_s.capitalize %>
            </a>
          <% end %>
        </h1>
      </div>

      <%= catch_content :for_layout %>
    </div>
  </body>
</html>