<% throw_content( :for_title, "#{ [ "#{self.class.Model} ##{@model.id}", scaf_title(@model) ].uniq.join(': ') }") %>

<div id="content" class="model">
  <h2>
    <%= catch_content( :for_title ) %>
    <a href="<%= url( "scaffold_#{self.class.Model.plural_name}" ) %>">View all</a>
    <a href="<%= url("edit_scaffold_#{ self.class.Model.singular_name }", @model) %>">Edit</a>
    <form action="<%= url( "scaffold_#{self.class.Model.singular_name}", @model ) %>" method="POST">
      <input type="hidden" name="_method" value="DELETE" />
      <input type="submit" value="Delete" />
    </form>
    </ul>
  </h2>

  <dl>
    <% @model.class.scaf_table.columns.each do |column| %>
      <dt><%= column.name %></dt>
      <dd>
        <% if association = @model.class.scaf_assoc_hash[column.name] %>
          <% obj = association.constant.get( @model.send( column.name ) ) %>
          <%= scaf_link( obj ) unless obj.blank?   %>
        <% else %>
          <%= @model.send( column.name ) || '&nbsp;' %>
        <% end %>
      </dd>
    <% end %>

    <% for association in @model.class.scaf_has_manys %>
      <%= partial( :has_many_show, :model => @model, :association => association ) %>
    <% end %>
  </dl>
</div>